.orebi-bestseller {
    margin-bottom: var(--spacer-5xl);
}

.orebi-bestseller__container {
    max-width: 1600px;
    padding: 0 var(--spacer-md) 0 var(--spacer-md);
    margin: 0 auto;
}

.orebi-bestseller__inner {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-4xl);
}

.orebi-bestseller__top {}

.orebi-bestseller__top-title {}

.orebi-bestseller__bottom {
    position: relative;
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    flex-direction: row;
    gap: var(--spacer-3xl);
    width: 100%;
}

.orebi-bestseller__bottom-wrapper {
    max-width: 370px;
    width: 100%;
    min-height: 465px;
    height: 100%;
    
}

.orebi-bestseller__bottom-wrapper__image {
    position: relative;
    transition: all 5s ease-out;

}

.orebi-bestseller__bottom-wrapper__image-background {
    position: relative;
    width: 100%;
}

.orebi-bestseller__bottom-wrapper__image-background img {
    width: 100%;
    height: 100%;
    min-height: 370px;
}

.orebi-bestseller__bottom-wrapper__image-abc {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.orebi-bestseller__bottom-wrapper__image-abc__new {
    padding: var(--spacer-2lg) var(--spacer-2lg);
    height: 100%;
}

.orebi-bestseller__bottom-wrapper__image-abc__new p {
    max-width: 92px;
    max-height: 35px;
    text-align: center;
    border: 1px solid var(--black);
    background: var(--black);
    color: white;
    font-size: var(--font-base);
}

.orebi-bestseller__bottom-wrapper__image-abc__btn {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: var(--spacer-xl) var(--spacer-2xl);
    gap: var(--spacer-2lg);
    background: var(--white);
    height: 100%;
}

.orebi-bestseller__bottom-arrow__left,.orebi-bestseller__bottom-arrow__right {
    position: absolute;
    z-index: 10;
    top: 35%;
}
.orebi-bestseller__bottom-arrow__left {
    left: '${(props) => props.direction === "left" && "0px"}';
}
.orebi-bestseller__bottom-arrow__left-border {
    border-radius: 50%;
    padding: var(--spacer-md);
    background: var(--black-shadow);
    cursor: pointer;
}
.orebi-bestseller__bottom-arrow__right {
    right: 0;
}
.orebi-bestseller__bottom-arrow__right-border {
    border-radius: 50%;
    padding: var(--spacer-md);
    background: var(--black-shadow);
    cursor: pointer;
}

.orebi-bestseller__bottom-wrapper__image:hover .orebi-bestseller__bottom-wrapper__image-abc__btn {
    display: flex;
}

.orebi-bestseller__bottom-wrapper__image-abc__btn-add,
.orebi-bestseller__bottom-wrapper__image-abc__btn-compare,
.orebi-bestseller__bottom-wrapper__image-abc__btn-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacer-sm);
    cursor: pointer;
}

.orebi-bestseller__bottom-image {}

.orebi-bestseller__bottom-wrapper__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--spacer-xl) 0;
}

.orebi-bestseller__bottom-wrapper__content-left {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-sm);
}

.orebi-bestseller__bottom-wrapper__content-left__title {
    font-size: var(--font-lg);
    font-weight: 700;
    color: var(--gray--800);
}