li {
    list-style: none;
}
a {
    text-decoration: none;
}

.orebi-header {}
.orebi-header.header-top {}
.orebi-header__container {
    max-width: 1600px;
    padding: 0 var(--spacer-md) 0 var(--spacer-md);
    margin: 0 auto;
}
.orebi-header__inner {}
.orebi-header__top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}
.orebi-header__top-bar__logo {}
.orebi-header__top-bar__logo-img {}
.logo-img__title {
    font-size: var(--font--base);
}
.orebi-header__top-bar__menu {}
.orebi-header__top-bar__menu-items {}
.list-item {
    display: flex;
    align-items: center;
    font-size: var(--font-sm);
    font-family: inherit;
    font-weight: 700;
}

.list-item li a {
    color: var(--gray--800);
}
.list-item--menu {
    gap: var(--spacer-3xl);
}
.list-item--lan {
    gap: var(--spacer-xl);
}
.orebi-header__top-bar__lan {}
.orebi-header__top-bar__lan-items {}